{% extends 'base.html' %}
{% load dictionary_tags %}
{% block title %}Оголошення{% endblock %}
{% block content %}

{% if announcement.reactions.exists %}
  <div style="display:flex; gap:5px; margin-bottom:10px;">
  {% for reaction in announcement.reactions.all %}
    <div style="width:30px; height:30px; border:1px solid #555; border-radius:10px; box-shadow:0 2px 6px rgba(0,0,0,0.3); overflow:hidden;">
      <img src="{{ reaction.reaction.url }}" alt=""
           style="width:30px; height:30px; object-fit:contain; display:block;">
    </div>
  {% endfor %}
  </div>
{% endif %}

<div style="width:110px; height:110px; overflow:hidden; border:1px solid #555; border-radius:10px; box-shadow:0 2px 6px rgba(0,0,0,0.3); margin-bottom:10px;">
 <img
   src="{{ announcement.poster.url }}"
   alt="{{ announcement.title }}"
   style="width:110px; height:110px; object-fit:cover; display:block;">
</div>

<h1>{{ announcement.title }}</h1>
<p>{{ announcement.text }}</p>
<p><small>Створено: {{ announcement.create_time }}</small></p>
<div class="emoji-reactions">
    {% for emoji, label in emoji_choices.items %}
        <span>
            <a href="{% url 'announcements:add_reaction' announcement.pk emoji %}" class="{% if request.user.is_authenticated and user_reactions.0 == emoji %}selected{% endif %}">
                {{ emoji }} {{ emoji_counts|lookup:emoji }}
            </a>
        </span>
    {% endfor %}
</div>

<h3>Фото:</h3>
{% if announcement.images.exists %}
  <div style="display:flex; gap:10px; flex-wrap:wrap; margin-bottom:10px;">
    {% for photo in announcement.images.all %}
      <div style="width:110px; height:110px; overflow:hidden; border:1px solid #555; border-radius:10px; box-shadow:0 2px 6px rgba(0,0,0,0.3);">
        <img src="{{ photo.image.url }}" alt="Фото" style="width:110px; height:110px; object-fit:cover; display:block;">
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>Фото ще немає</p>
{% endif %}

<h4>Додати коментар:</h4>
{% if user.is_authenticated %}
<form method="post" action="?action=comment">
    {% csrf_token %}
    <textarea name="comment" rows="3" style="width:100%;" placeholder="Ваш коментар"></textarea><br>
    <button type="submit">Відправити</button>
</form>
{% else %}
<p><em>Увійдіть, щоб залишити коментар</em></p>
{% endif %}

<h3>Коментарі:</h3>
<div style="margin-bottom:10px;">
{% if comments %}
    {% for comment in comments %}
        <div style="border-bottom:1px solid #ccc; padding:5px 0;">
            <strong>{{ comment.creator.username }}:</strong> {{ comment.text }}<br>
            <small>{{ comment.create_time }}</small>
        </div>
    {% endfor %}
{% else %}
    <p>Коментарів ще немає</p>
{% endif %}
</div>

<a href="{% url 'announcements:announcement_add_image' announcement.pk %}">Додати зображення</a> |
<a href="{% url 'announcements:announcement_delete' announcement.pk %}">Видалити</a>
<a href="{% url 'announcements:announcement_list' %}">Назад до списку</a>

{% endblock %}